<% if @shelter %>
      <h1><%= "#{@shelter.name}'s Pets" %><h1>
   <% else %>
      <h1>All Pets<h1>
<% end %>
 <% @pets.each do |pet|  %>
  <section class="grid-container" id= 'pet-<%=pet.id%>'>
    <%= image_tag(pet.image) %>
    <p>Name: <%=  pet.name  %><p> 
    <p>Approximate Age: <%=  pet.approximate_age  %><p> 
    <p>Sex: <%=  pet.sex  %><p> 
    <p>Shelter: <%=  pet.shelter.name  %><p>
    <%= link_to  "Update Pet", "/pets/#{pet.id}/edit" %>
    <%= link_to  "Delete Pet", "/pets/#{pet.id}", method: :delete %> 
   </section>
 <% end %>
<% if @shelter %>
      <%= link_to  "Create Pet", new_shelter_pet_path %>
<% end %>
 