 <%= image_tag(@pet.image) %>
    <h1><%=@pet.name %></h1>
    <p><%=  @pet.approximate_age %><p> 
    <p><%=  @pet.sex  %><p> 
    <p><%=  @pet.shelter.name %><p> 
    <p><%=  @pet.adoptable %><p> 
<%= link_to  "Update Pet", edit_pet_path %>
<%= link_to  "Delete Pet", pet_path, method: :delete %>